<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="How to play Dungeons & Dragons (D&D) solo without a Dungeon Master (DM).">
    <meta name="keywords" content="D&D, DnD, dnd, Dungeons & Dragons, solo play, DM, Dungeon Master, solo, one PC">
    <title>DnD Solo<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <%= stylesheet_link_tag "site" %>
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <%= javascript_include_tag "site" %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163704199-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-163704199-1');
    </script>
  </head>
  <body>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            DnD Solo
          </h1>
          <h2 class="subtitle">
            Resources for playing Dungeons & Dragons by yourself.
          </h2>
        </div>
      </div>
    </section>    
    <section class="section content">      
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <% if !current_article.nil? %>
              <h1 class="title is-1"><%= current_article.title %></h1>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>DnD Solo</strong> by <a href="https://twitter.com/dhendee" target="_blank">David Hendee</a>. &copy 2020.
        </p>
      </div>
    </footer>
  </body>
</html>